<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <form @submit.stop.prevent="createCompetition">
          <h1 class="h2 mt-2 mb-4">Competitie Aanmaken</h1>

          <div v-if="newCompetition && newCompetition.Code">
            <div class="mb-4">
              Competitie succesvol aangemaakt, code:
              <span class="h1">{{ newCompetition.Code }}</span>
            </div>
            <div class="mt-5">
              <p>
                Mijn competitie
                <nuxt-link
                  :to="{
                    name: 'competitie-instellingen',
                    params: { competitie: newCompetition.slug },
                  }"
                >
                  bekijken
                </nuxt-link>
              </p>
            </div>
          </div>
          <div v-else>
            <ValidationObserver ref="observer">
              <ValidationProvider
                name="title"
                rules="required"
                v-slot="{ errors }"
              >
                <div class="form-group">
                  <label for="title"
                    ><span class="text-danger">*&nbsp;</span>Naam</label
                  ><small class="ml-2 text-danger">{{ errors[0] }}</small>
                  <input
                    class="form-control"
                    id="title"
                    type="title"
                    v-model="title"
                  />
                </div>
              </ValidationProvider>
            </ValidationObserver>

            <recaptcha />

            <div v-show="errors.length > 0" class="mb-4 mt-3">
              <small
                class="ml-2 text-danger"
                v-for="(error, index) in errors"
                v-bind:key="index"
                >{{ error }}</small
              >
            </div>

            <div class="mt-3">
              <button class="btn btn-primary" :disabled="loading" type="submit">
                Aanmaken
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// Import mapMutations in order to call mutations from your store
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { TRANSLATIONS } from "~/plugins/translations";
import { required } from "vee-validate/dist/rules";

// Override the default message.
extend("required", {
  ...required,
  message: "Dit is een verplicht veld",
});

export default {
  middleware: "authenticated",
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      loading: false,
      title: "",
      errors: [],
      code: null,
      newCompetition: false,
    };
  },
  methods: {
    async createCompetition(e) {
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        this.loading = true;
        try {
          const token = await this.$recaptcha.getResponse();

          const newCompetition = await this.$strapi.create("competitions", {
            Title: this.title,
            token: token,
          });

          this.newCompetition = newCompetition;

          await this.$recaptcha.reset();
          this.loading = false;
        } catch (error) {
          this.errors = [];
          this.loading = false;
          await this.$recaptcha.reset();
          if (
            error &&
            error.response &&
            error.response.data &&
            error.response.data.message
          ) {
            this.errors.push(error.response.data.message);
          } else {
            this.errors = ["Er ging iets mis, controleer de velden."];
          }
        }
      }
    },
  },
};
</script>