<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <form @submit.stop.prevent="joinCompetition">
          <h1 class="h2 mt-2 mb-4">Deelnemen aan Competitie</h1>

          <div v-if="newCompUser">
            <div class="mb-4">
              Uitnodiging verstuurd, competitie zal zichtbaar worden indien de
              beheerder u accepteert.
            </div>
          </div>
          <div v-else>
            <ValidationObserver ref="observer">
              <ValidationProvider
                name="code"
                rules="required"
                v-slot="{ errors }"
              >
                <div class="form-group">
                  <label for="code"
                    ><span class="text-danger">*&nbsp;</span>Code</label
                  ><small class="ml-2 text-danger">{{ errors[0] }}</small>
                  <input
                    class="form-control"
                    id="code"
                    type="code"
                    v-model="code"
                  />
                </div>
              </ValidationProvider>
            </ValidationObserver>

            <recaptcha />

            <div v-show="errors.length > 0" class="mb-4 mt-3">
              <small
                class="ml-2 text-danger"
                v-for="(error, index) in errors"
                v-bind:key="index"
                >{{ error }}</small
              >
            </div>

            <div class="mt-3">
              <button class="btn btn-primary" :disabled="loading" type="submit">
                Deelnemen
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// Import mapMutations in order to call mutations from your store
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { TRANSLATIONS } from "~/plugins/translations";
import { required } from "vee-validate/dist/rules";

// Override the default message.
extend("required", {
  ...required,
  message: "Dit is een verplicht veld",
});

export default {
  middleware: "authenticated",
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      loading: false,
      code: "",
      errors: [],
      newCompUser: false,
    };
  },
  methods: {
    async joinCompetition(e) {
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        this.loading = true;
        try {
          const token = await this.$recaptcha.getResponse();

          const newCompUser = await this.$strapi.create("competition-users", {
            Code: this.code,
            token: token,
          });

          this.newCompUser = newCompUser;

          await this.$recaptcha.reset();
          this.loading = false;
        } catch (error) {
          this.errors = [];
          this.loading = false;
          await this.$recaptcha.reset();
          if (
            error &&
            error.response &&
            error.response.data &&
            error.response.data.message
          ) {
            this.errors.push(error.response.data.message);
          } else {
            this.errors = ["Er ging iets mis, controleer de velden."];
          }
        }
      }
    },
  },
};
</script>