$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1400px,
) !default;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "node_modules/bootstrap-vue/src/index.scss";
