<template>
  <div class="container mt-5">
    <div class="text-center p-5 bg-light">
      <h1>
        {{ competition.Title }}
        <small class="text-muted">Instellingen</small>
      </h1>
    </div>
    <div class="p-2 bg-light mt-3">
      <nuxt-link
        :to="{
          name: 'competitie-klassement',
          params: { competitie: competition.slug },
        }"
        class="btn btn-success d-inline-block"
        ><font-awesome-icon icon="trophy" /> Klassement</nuxt-link
      >
      <nuxt-link
        :to="{
          name: 'competitie-pronostiek',
          params: { competitie: competition.slug },
        }"
        class="btn btn-warning d-inline-block"
        ><font-awesome-icon icon="edit" /> Mijn pronostiek</nuxt-link
      >
    </div>
    <div class="p-2 bg-light mt-3">
      <span>Code: {{ competition.Code }}</span>
    </div>
    <table class="table table-sm table-striped  mt-3">
      <thead>
        <tr>
          <th scope="col">Gebruiker</th>
          <th scope="col">Geaccepteerd</th>
          <th scope="col">Beheerder</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(compUser, index) in competition_users" v-bind:key="index">
          <td>{{ compUser.user.username }}</td>
          <td>
            <b-form-checkbox
              size="lg"
              v-if="$strapi.user.id !== compUser.user.id"
              v-model="compUser.Accepted"
              switch
              @change="toggleUser(compUser)"
            />
            <div v-else>
              <div v-if="compUser.Accepted">
                <font-awesome-icon class="text-success" icon="check" />
              </div>
              <div v-else>
                <font-awesome-icon class="text-danger" icon="times" />
              </div>
            </div>
          </td>
          <td>
            <b-form-checkbox
              size="lg"
              v-if="$strapi.user.id !== compUser.user.id"
              v-model="compUser.Admin"
              switch
              @change="toggleUser(compUser)"
            />
            <div v-else>
              <div v-if="compUser.Admin">
                <font-awesome-icon class="text-success" icon="check" />
              </div>
              <div v-else>
                <font-awesome-icon class="text-danger" icon="times" />
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  middleware: "authenticated",
  methods: {
    async toggleUser(compUser) {
      try {
        await this.$strapi.update("competition-users", compUser.id, {
          Accepted: compUser.Accepted,
          Admin: compUser.Admin,
        });
      } catch (error) {}
    },
  },
  data() {
    return {
      competition_users: [],
      competition: {},
    };
  },
  async asyncData({ params, $strapi, error }) {
    let competition_users = await $strapi.find("competition-users", {
      "competition.slug": params.competitie,
    });

    let [competition] = await $strapi.find("competitions", {
      slug: params.competitie,
      "competition_users.user.email": $strapi.user.email,
      "competition_users.Accepted": true,
      "competition_users.Admin": true,
    });

    if (!competition) {
      return error({ statusCode: 404, message: "Competitie niet gevonden." });
    }

    competition.isAdmin = competition.competition_users.some((user) => {
      return user.Admin === true && user.user === $strapi.user.id;
    });

    return {
      competition_users,
      competition,
    };
  },
};
</script>

<style scoped lang="scss">
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

input.form-control {
  margin: 0;
  width: 2rem;
  text-align: center;
}
</style>