<template>
  <div class="container mt-5">
    <div class="text-center p-5 bg-light">
      <h1>
        {{ competition.Title }} <small class="text-muted">Pronostiek</small>
      </h1>
    </div>
    <div class="p-2 bg-light mt-3">
      <nuxt-link
        v-if="competition.isAdmin"
        :to="{
          name: 'competitie-instellingen',
          params: { competitie: competition.slug },
        }"
        class="btn btn-dark d-inline-block"
        ><font-awesome-icon icon="cog" /> Instellingen</nuxt-link
      >
      <nuxt-link
        :to="{
          name: 'competitie-klassement',
          params: { competitie: competition.slug },
        }"
        class="btn btn-success d-inline-block"
        ><font-awesome-icon icon="trophy" /> Klassement</nuxt-link
      >
    </div>
    <b-card no-body class="mt-3">
      <b-tabs pills card>
        <b-tab
          v-for="phase in phases"
          v-bind:key="phase.id"
          :title="phase.Title"
          :disabled="phase.Active === false"
        >
          <div v-if="phase.id === 1">
            <b-alert variant="info" show
              >Elke juiste uitslag in deze fase levert 5 punten op, een juiste
              voorspelling levert 3 punten op.</b-alert
            >
          </div>
          <div v-else-if="phase.id === 2">
            <b-alert variant="info" show
              >Elke juiste uitslag in deze fase levert 6 punten op, een juiste
              voorspelling levert 4 punten op.<br/><span class="font-weight-bold">LET OP:</span> De score na de reguliere speeltijd is van tel!</b-alert
            >
          </div>
          <div v-else-if="phase.id === 3">
            <b-alert variant="info" show
              >Elke juiste uitslag in deze fase levert 7 punten op, een juiste
              voorspelling levert 5 punten op.<br/><span class="font-weight-bold">LET OP:</span> De score na de reguliere speeltijd is van tel!</b-alert
            >
          </div>
          <div v-else-if="phase.id === 4">
            <b-alert variant="info" show
              >Elke juiste uitslag in deze fase levert 8 punten op, een juiste
              voorspelling levert 6 punten op.<br/><span class="font-weight-bold">LET OP:</span> De score na de reguliere speeltijd is van tel!</b-alert
            >
          </div>
          <div v-else-if="phase.id === 5">
            <b-alert variant="info" show
              >Elke juiste uitslag in deze fase levert 10 punten op, een juiste
              voorspelling levert 8 punten op.<br/><span class="font-weight-bold">LET OP:</span> De score na de reguliere speeltijd is van tel!</b-alert
            >
          </div>
          <hr />
          <div
            v-for="game in phase.games"
            :key="game.id"
            :ref="'game_' + game.id"
            class="game"
          >
            <div class="row align-items-center mb-3">
              <div class="col-12 col-lg-1"># {{ game.id }}</div>
              <div class="col-12 col-lg-2">{{ game.date | formatDate }}</div>
              <div class="input-group col-12 col-lg-4">
                <div class="input-group-prepend">
                  <span class="input-group-text country-name">{{
                    game.team_home.Name
                  }}</span>
                  <span class="input-group-text" v-if="game.team_home.ShortName"
                    ><country-flag :country="game.team_home.ShortName"
                  /></span>
                </div>
                <input
                  :disabled="game.hasStarted"
                  type="number"
                  max="100"
                  class="form-control"
                  name="score_home"
                  v-model="game.user_score_home"
                />
              </div>
              <div
                class="col-12 col-lg-1 text-center"
                v-bind:class="{
                  'text-danger':
                    game.scoreCorrect === false && game.correct === false,
                  'text-warning': game.correct === true,
                  'text-success': game.scoreCorrect === true,
                }"
              >
                <span v-if="game.hasStarted && game.score_home >= 0"
                  >({{ game.score_home }}</span
                >
                -
                <span v-if="game.hasStarted && game.score_away >= 0"
                  >{{ game.score_away }})</span
                >
              </div>
              <div class="input-group col-12 col-lg-4">
                <input
                  :disabled="game.hasStarted"
                  type="number"
                  max="100"
                  class="form-control"
                  name="score_away"
                  v-model="game.user_score_away"
                />
                <div class="input-group-append">
                  <span class="input-group-text" v-if="game.team_home.ShortName"
                    ><country-flag :country="game.team_away.ShortName"
                  /></span>
                  <span class="input-group-text country-name">{{
                    game.team_away.Name
                  }}</span>
                </div>
              </div>
            </div>
            <b-collapse
              v-bind:id="'collapse-' + game.id"
              v-model="game.showPronos"
              class="mt-2"
            >
              <div
                class="row align-items-center mb-3"
                v-for="pronoOther in game.pronosOthers"
                :key="pronoOther.id"
              >
                <div class="col-lg-3 text-center d-none d-md-block">
                  {{ pronoOther.author.username }}
                </div>
                <div class="col-lg-3 text-center d-block d-md-none mb-3">
                  <span class="h5">{{ pronoOther.author.username }}</span>
                </div>
                <div class="input-group col-12 col-lg-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text country-name">{{
                      pronoOther.game.team_home.Name
                    }}</span>
                    <span
                      class="input-group-text"
                      v-if="pronoOther.game.team_home.ShortName"
                      ><country-flag
                        :country="pronoOther.game.team_home.ShortName"
                    /></span>
                  </div>
                  <input
                    disabled
                    class="form-control"
                    v-bind:value="pronoOther.score_home"
                  />
                </div>
                <div class="col-12 col-lg-1 text-center">
                  <span
                    class="font-bold"
                    v-bind:class="{
                      'text-danger':
                        pronoOther.scoreCorrect === false &&
                        pronoOther.correct === false,
                      'text-warning': pronoOther.correct === true,
                      'text-success': pronoOther.scoreCorrect === true,
                    }"
                    >+ {{ pronoOther.pointsEarned }}</span
                  >
                </div>
                <div class="input-group col-12 col-lg-4">
                  <input
                    disabled
                    class="form-control"
                    v-bind:value="pronoOther.score_away"
                  />
                  <div class="input-group-append">
                    <span
                      class="input-group-text"
                      v-if="pronoOther.game.team_home.ShortName"
                      ><country-flag
                        :country="pronoOther.game.team_away.ShortName"
                    /></span>
                    <span class="input-group-text country-name">{{
                      pronoOther.game.team_away.Name
                    }}</span>
                  </div>
                </div>
              </div>
            </b-collapse>
            <div class="row justify-content-center">
              <b-button
                v-if="game.hasStarted"
                variant="link"
                size="sm"
                class="d-inline-block"
                :class="game.showPronos ? null : 'collapsed'"
                :aria-expanded="game.showPronos ? 'true' : 'false'"
                v-bind:aria-controls="'collapse-' + game.id"
                @click="togglePronosGameVisible(game)"
              >
                <span>Toon / Verberg pronostieken</span>
              </b-button>
            </div>
            <hr />
          </div>
          <button
            class="btn btn-success btn-save-pronos"
            @click="savePhase(phase)"
          >
            <b-spinner small variant="light" v-if="loading"></b-spinner>
            <font-awesome-icon icon="save" v-if="!loading" /> Opslaan
          </button>
        </b-tab>
        <b-tab title="Bonusvragen">
          <ValidationObserver ref="observerBonus">
            <b-alert variant="info" show
              >Bonusvragen in te vullen / aan te passen tot vrijdag 11/06/2021
              21:00</b-alert
            >
            <hr />
            <div class="row align-items-center mb-3">
              <div class="col">{{ bonusQuestionWinner.Title }} (10 ptn)</div>
              <div class="col">
                <ValidationProvider rules="required" v-slot="{ errors }">
                  <b-form-select
                    v-model="bonusQuestionWinner.selectedTeam"
                    :options="teams"
                    value-field="id"
                    text-field="Name"
                    :disabled="
                      $moment(
                        dataBonusQuestionsDisabled,
                        'DD/MM/YYYY HH:mm'
                      ).isBefore($moment.now())
                    "
                  >
                    <template #first>
                      <b-form-select-option :value="null" disabled
                        >-- Selecteer een optie --</b-form-select-option
                      >
                    </template>
                  </b-form-select>
                  <small class="text-danger d-block mt-2">{{
                    errors[0]
                  }}</small>
                </ValidationProvider>
              </div>
            </div>
            <hr />
            <div
              v-for="(bonusQuestion, index) in bonusQuestionTopScorers"
              :key="bonusQuestion.id"
            >
              <div class="row align-items-center mb-3">
                <div class="col">
                  <p class="d-block mb-0">
                    {{ bonusQuestion.Title }}
                    <span v-if="index === 0"> (7 ptn) </span>
                    <span v-else-if="index === 1"> (5 ptn) </span>
                    <span v-else-if="index === 2"> (3 ptn) </span>
                  </p>
                  <p
                    class="text-muted font-italic d-block"
                    style="font-size: 0.75rem"
                  >
                    Enkel punten te verdienen indien deze speler topschutter
                    wordt
                  </p>
                </div>
                <div class="col">
                  <ValidationProvider rules="required" v-slot="{ errors }">
                    <b-form-select
                      v-model="bonusQuestion.selectedTopScorer"
                      value-field="id"
                      text-field="Name"
                      :disabled="
                        $moment(
                          dataBonusQuestionsDisabled,
                          'DD/MM/YYYY HH:mm'
                        ).isBefore($moment.now())
                      "
                    >
                      <template #first>
                        <b-form-select-option :value="null" disabled
                          >-- Selecteer een optie --</b-form-select-option
                        >
                      </template>

                      <b-form-select-option-group
                        :label="team.Name"
                        v-for="team in topScorersTeams"
                        :key="team.id"
                      >
                        <b-form-select-option
                          v-for="topScorer in team.top_scorers"
                          :value="topScorer.id"
                          :key="topScorer.id"
                        >
                          {{ topScorer.Name }}</b-form-select-option
                        >
                      </b-form-select-option-group>
                    </b-form-select>
                    <small class="text-danger d-block mt-2">{{
                      errors[0]
                    }}</small>
                  </ValidationProvider>
                </div>
              </div>
              <hr />
            </div>
            <div class="row align-items-center mb-3">
              <div class="col">
                <p class="mb-0">EXTRA: {{ bonusQuestionGoals.Title }}</p>
                <p
                  class="text-muted font-italic d-block"
                  style="font-size: 0.75rem"
                >
                  Enkel van toepassing bij gelijke stand in het klassement
                </p>
              </div>
              <div class="col">
                <ValidationProvider
                  name="amountOfGoals"
                  rules="required|min_value:0|max_value:10000"
                  v-slot="{ errors }"
                >
                  <input
                    :disabled="
                      $moment(
                        dataBonusQuestionsDisabled,
                        'DD/MM/YYYY HH:mm'
                      ).isBefore($moment.now())
                    "
                    type="number"
                    max="5000"
                    class="form-control"
                    name="amountOfGoals"
                    v-model="bonusQuestionGoals.amountOfGoals"
                  />
                  <small class="text-danger d-block mt-2">{{
                    errors[0]
                  }}</small>
                </ValidationProvider>
              </div>
            </div>
            <button
              v-if="
                !$moment(
                  dataBonusQuestionsDisabled,
                  'DD/MM/YYYY HH:mm'
                ).isBefore($moment.now())
              "
              class="btn btn-success btn-save-pronos"
              @click="
                saveBonusQuestions(
                  bonusQuestionWinner,
                  bonusQuestionTopScorers,
                  bonusQuestionGoals
                )
              "
            >
              <font-awesome-icon icon="save" /> Opslaan
            </button>
          </ValidationObserver>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import {
  ValidationProvider,
  ValidationObserver,
  validate,
  extend,
} from "vee-validate";
import {
  required,
  min_value,
  max_value,
  numeric,
} from "vee-validate/dist/rules";

extend("required", {
  ...required,
  message: "Dit is een verplicht veld",
});

extend("min_value", {
  ...min_value,
  message: "Deze waarde mag niet kleiner dan {min} zijn.",
});

extend("max_value", {
  ...max_value,
  message: "Deze waarde mag niet groter dan {max} zijn.",
});

import moment from "moment";

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  middleware: "authenticated",
  data() {
    return {
      loading: false,
      errors: [],
      pronosForGame: {},
      dataBonusQuestionsDisabled: "11/06/2021 21:00",
      phases: [],
      pronos: [],
      competition: {},
      bonusQuestionWinner: [],
      bonusQuestionTopScorers: [],
      bonusQuestionGoals: [],
      teams: [],
      topScorersTeams: [],
    };
  },
  mounted() {
    this.$nextTick(() => {
      const games = this.phases[0].games.filter((game) => {
        return moment(game.date).isBefore(moment.now());
      });

      const game = games[games.length - 2];

      const [el] = this.$refs["game_" + game.id];
      if (el) {
        el.scrollIntoView();
      }
    });
  },
  methods: {
    async togglePronosGameVisible(game) {
      if (!game.pronosOthers) {
        let pronos = await this.$strapi.find("pronos", {
          "game.id": game.id,
          "competition.slug": this.$route.params.competitie,
          "author.email_ne": this.$strapi.user.email,
        });
        this.$set(game, "pronosOthers", pronos);
        this.$set(game, "showPronos", true);
      } else {
        this.$set(game, "showPronos", !game.showPronos);
      }
    },
    async saveBonusQuestions(
      bonusQuestionWinner,
      bonusQuestionTopScorers,
      bonusQuestionGoals
    ) {
      const isValid = await this.$refs.observerBonus.validate();
      if (isValid) {
        let idsArr = [];

        bonusQuestionTopScorers.forEach((bonusQuestionTopScorer) => {
          idsArr.push(bonusQuestionTopScorer.selectedTopScorer);
        });

        if (new Set(idsArr).size !== idsArr.length) {
          this.$notify({
            type: "warn",
            title: "Waarschuwing",
            text: "Selecteer 3 verschillende topschutters",
          });
          return;
        }

        let [competition] = await this.$strapi.find("competitions", {
          slug: this.$route.params.competitie,
          "competition_users.user.email": this.$strapi.user.email,
        });

        if (!competition) {
          return;
        }
        try {
          if (bonusQuestionGoals.amountOfGoals > 0) {
            let [bonusQuestionGoalsAnswer] = await this.$strapi.find(
              "bonus-question-goal-answers",
              {
                "competition.id": competition.id,
                "bonus_question_goals.id": bonusQuestionGoals.id,
              }
            );

            if (bonusQuestionGoalsAnswer) {
              await this.$strapi.update(
                "bonus-question-goal-answers",
                bonusQuestionGoalsAnswer.id,
                {
                  bonus_question_goals: bonusQuestionGoals.id,
                  Goals: bonusQuestionGoals.amountOfGoals,
                }
              );
            } else {
              await this.$strapi.create("bonus-question-goal-answers", {
                bonus_question_goals: bonusQuestionWinner.id,
                Goals: bonusQuestionGoals.amountOfGoals,
                competition: competition.id,
              });
            }
          }

          let [bonusQuestionWinnerAnswer] = await this.$strapi.find(
            "bonus-question-winner-answers",
            {
              "competition.id": competition.id,
              "bonus_question_winner.id": bonusQuestionWinner.id,
            }
          );

          if (bonusQuestionWinnerAnswer) {
            await this.$strapi.update(
              "bonus-question-winner-answers",
              bonusQuestionWinnerAnswer.id,
              {
                bonus_question_winner: bonusQuestionWinner.id,
                team: bonusQuestionWinner.selectedTeam,
              }
            );
          } else {
            await this.$strapi.create("bonus-question-winner-answers", {
              bonus_question_winner: bonusQuestionWinner.id,
              team: bonusQuestionWinner.selectedTeam,
              competition: competition.id,
            });
          }

          bonusQuestionTopScorers.forEach(async (bonusQuestionTopScorer) => {
            let [bonusQuestionTopScorersAnswer] = await this.$strapi.find(
              "bonus-question-top-scorer-answers",
              {
                "competition.id": competition.id,
                "bonus_question_top_scorer.id": bonusQuestionTopScorer.id,
              }
            );

            if (bonusQuestionTopScorersAnswer) {
              await this.$strapi.update(
                "bonus-question-top-scorer-answers",
                bonusQuestionTopScorersAnswer.id,
                {
                  bonus_question_top_scorer: bonusQuestionTopScorer.id,
                  top_scorer: bonusQuestionTopScorer.selectedTopScorer,
                }
              );
            } else {
              await this.$strapi.create("bonus-question-top-scorer-answers", {
                bonus_question_top_scorer: bonusQuestionTopScorer.id,
                top_scorer: bonusQuestionTopScorer.selectedTopScorer,
                competition: competition.id,
              });
            }
          });

          this.$notify({
            type: "success",
            title: "Succes!",
            text: "Wijzigingen opgeslagen.",
          });
        } catch {
          this.$notify({
            type: "error",
            title: "Oeps!",
            text: "Er ging iets mis, probeer opnieuw.",
          });
        }
      }
    },

    async savePhase(phase) {
      try {
        this.loading = true;
        await Promise.all(
          phase.games.map(async (game) => {
            if (
              !(
                !game.hasStarted &&
                parseInt(game.user_score_home) >= 0 &&
                parseInt(game.user_score_away) >= 0
              )
            ) {
              return;
            }

            let [competition] = await this.$strapi.find("competitions", {
              slug: this.$route.params.competitie,
              "competition_users.user.email": this.$strapi.user.email,
            });

            if (!competition) {
              return;
            }

            let [prono] = await this.$strapi.find("pronos", {
              "game.id": game.id,
              "competition.slug": competition.slug,
            });

            if (competition && competition.slug) {
              if (prono) {
                try {
                  return await this.$strapi.update("pronos", prono.id, {
                    score_home: game.user_score_home,
                    score_away: game.user_score_away,
                  });
                } catch {}
              } else {
                try {
                  return await this.$strapi.create("pronos", {
                    game: game.id,
                    score_home: game.user_score_home,
                    score_away: game.user_score_away,
                    competition: competition.id,
                  });
                } catch {}
              }
            }
          })
        ).finally(() => {
          this.$notify({
            type: "success",
            title: "Succes!",
            text: "Wijzigingen opgeslagen.",
          });
          this.loading = false;
        });
      } catch {
        this.$notify({
          type: "error",
          title: "Oeps!",
          text: "Er ging iets mis, probeer opnieuw.",
        });
      }
    },
  },
  async asyncData({ params, $strapi, error }) {
    let phases = await $strapi.find("phases", {
      _sort: "id:ASC",
    });

    let pronos = await $strapi.find("pronos", {
      "competition.slug": params.competitie,
      "competition.competition_users.user.email": $strapi.user.email,
      "author.email": $strapi.user.email,
    });

    let [competition] = await $strapi.find("competitions", {
      slug: params.competitie,
      "competition_users.user.email": $strapi.user.email,
      "competition_users.Accepted": true,
    });

    if (!competition) {
      return error({ statusCode: 404, message: "Competitie niet gevonden." });
    }

    competition.isAdmin = competition.competition_users.some((user) => {
      return user.Admin === true && user.user === $strapi.user.id;
    });

    let teams = await $strapi.find("teams", {
      ShortName_null: false,
    });

    let topScorersTeams = await $strapi.find("teams", {
      _sort: "Name:ASC,top_scorers.Name:ASC",
      top_scorers_gt: 0,
      _limit: 1000,
    });

    let [bonusQuestionWinner] = await $strapi.find("bonus-question-winners");

    let bonusQuestionTopScorers = await $strapi.find(
      "bonus-question-top-scorers"
    );

    let [bonusQuestionGoals] = await $strapi.find("bonus-question-goals");

    let [bonusQuestionWinnerAnswer] = await $strapi.find(
      "bonus-question-winner-answers",
      {
        "competition.slug": params.competitie,
      }
    );

    if (bonusQuestionWinnerAnswer) {
      bonusQuestionWinner.selectedTeam = bonusQuestionWinnerAnswer.team.id;
    }

    let bonusQuestionTopScorersAnswers = await $strapi.find(
      "bonus-question-top-scorer-answers",
      {
        "competition.slug": params.competitie,
      }
    );

    if (bonusQuestionTopScorersAnswers) {
      bonusQuestionTopScorers.forEach((bonusQuestionTopScorer) => {
        bonusQuestionTopScorersAnswers.forEach(
          (bonusQuestionTopScorersAnswer) => {
            if (
              bonusQuestionTopScorer.id ===
              bonusQuestionTopScorersAnswer.bonus_question_top_scorer.id
            ) {
              bonusQuestionTopScorer.selectedTopScorer =
                bonusQuestionTopScorersAnswer.top_scorer.id;
              topScorersTeams.forEach((topScorersTeam) => {
                topScorersTeam.top_scorers.forEach((topScorer) => {
                  if (
                    topScorer.id === bonusQuestionTopScorersAnswer.top_scorer.id
                  ) {
                    topScorer.disabled = true;
                  }
                });
              });
            }
          }
        );
      });
    }

    let [bonusQuestionGoalsAnswer] = await $strapi.find(
      "bonus-question-goal-answers",
      {
        "competition.slug": params.competitie,
        "competition.competition_users.user.email": $strapi.user.email,
      }
    );

    if (bonusQuestionGoalsAnswer) {
      bonusQuestionGoals.amountOfGoals = bonusQuestionGoalsAnswer.Goals;
    }

    phases.forEach((phase) => {
      phase.games.sort((a, b) => {
        return moment(a.date).unix() - moment(b.date).unix();
      });
      phase.games.forEach((game) => {
        if (moment(game.date).isBefore(moment.now())) {
          game.hasStarted = true;
        }

        pronos.forEach((prono) => {
          if (prono.game.id === game.id) {
            game.user_score_home = prono.score_home;
            game.user_score_away = prono.score_away;
            game.scoreCorrect = prono.scoreCorrect;
            game.correct = prono.correct;
          }
        });
      });
    });

    return {
      phases,
      pronos,
      competition,
      teams,
      topScorersTeams,
      bonusQuestionWinner,
      bonusQuestionTopScorers,
      bonusQuestionGoals,
    };
  },
};
</script>

<style scoped lang="scss">
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

.btn-save-pronos {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.game > input.form-control {
  margin: 0;
  width: 2rem;
  text-align: center;
}

.country-name {
  min-width: 140px;
  font-size: 0.85rem;
}

@keyframes changed-row {
  from {
    background-color: green;
  }
  to {
    background-color: white;
  }
}

.game.changed input.form-control {
  animation: changed-row 2s;
}
.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}
</style>