<template>
  <div>
    <b-navbar toggleable="md" variant="light" type="light" :sticky="true">
      <div class="container">
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item to="/" v-if="$strapi.user"
              ><font-awesome-icon icon="home" /> Competities</b-nav-item
            >
            <b-nav-item v-if="$strapi.user" to="/klassement"
              >Algemeen klassement</b-nav-item
            >
            <b-nav-item v-if="$strapi.user" to="/topschutters"
              >Topschutters</b-nav-item
            >
            <b-nav-item v-if="!$strapi.user" to="/inloggen"
              >Inloggen</b-nav-item
            >
            <b-nav-item v-if="!$strapi.user" to="/registreren"
              >Registreren</b-nav-item
            >
            <b-nav-item to="/informatie"
              >Informatie</b-nav-item
            >
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item v-if="$strapi.user" @click="logout"
              >Uitloggen</b-nav-item
            >
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
    <notifications position="bottom left" />
    <Nuxt />
  </div>
</template>

<script>
export default {
  methods: {
    async logout() {
      await this.$strapi.logout();
      this.$nuxt.$router.push("/inloggen");
    },
  },
};
</script>

<style scoped lang="scss">
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

.vue-notification-group {
  bottom: 2rem !important;
  left: 2rem !important;
}
</style>