<template>
  <div class="container mt-5">
    <div class="text-center p-5 bg-light">
      <h1>{{ error.message }}</h1>
      Terug naar <nuxt-link to="/">Home</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: ["error"],
  layout: "error", // you can set a custom layout for the error page
};
</script>