<template>
  <div class="container mt-5">
    <div class="text-center p-5 bg-light" v-if="competitions.length <= 0">
      <h1 class="h4">
        U heeft nog geen competities, klik op onderstaande knoppen om er een aan
        te maken of deel te nemen.
      </h1>
    </div>
    <div v-else>
      <div class="text-center p-5 bg-light mb-5">
        <h1>Competities</h1>
      </div>
      <div class="container-fluid">
        <div
          class="row d-flex bg-light align-items-center p-2 mt-2 border"
          v-for="competition in competitions"
          :key="competition.id"
        >
          <div class="col h4 m-0">
            {{ competition.Title }}
          </div>
          <div class="col text-right" v-if="competition.isAccepted">
            <nuxt-link
              v-if="competition.isAdmin"
              :to="{
                name: 'competitie-instellingen',
                params: { competitie: competition.slug },
              }"
              class="btn btn-dark d-inline-block"
              ><font-awesome-icon icon="cog"
            /></nuxt-link>
            <nuxt-link
              :to="{
                name: 'competitie-klassement',
                params: { competitie: competition.slug },
              }"
              class="btn btn-success d-inline-block ml-2"
              ><font-awesome-icon icon="trophy"
            /></nuxt-link>
            <nuxt-link
              :to="{
                name: 'competitie-pronostiek',
                params: { competitie: competition.slug },
              }"
              class="btn btn-warning d-inline-block ml-2"
              ><font-awesome-icon icon="edit"
            /></nuxt-link>
          </div>
          <div v-else class="col text-right">Niet geaccepteerd</div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-4 offset-md-4">
        <nuxt-link class="btn btn-success btn-block" to="/competitie/aanmaken"
          >Competitie aanmaken</nuxt-link
        >
        <nuxt-link class="btn btn-info btn-block" to="/competitie/deelnemen"
          >Deelnemen aan Competitie</nuxt-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: "authenticated",
  data() {
    return {
      competitions: [],
    };
  },
  async asyncData({ $strapi }) {
    let competitions = await $strapi.find("competitions", {
      "competition_users.user.email": $strapi.user.email,
    });

    competitions.forEach((competition) => {
      competition.isAdmin = competition.competition_users.some((user) => {
        return user.Admin === true && user.user === $strapi.user.id;
      });
      competition.isAccepted = competition.competition_users.some((user) => {
        return user.Accepted === true && user.user === $strapi.user.id;
      });
    });

    return {
      competitions: competitions,
    };
  },
};
</script>

<style scoped lang="scss">
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";
</style>