<template>
  <div class="container mt-5">
    <div v-html="$md.render(informationPage.Content)"></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      informationPage: {},
    };
  },
  async asyncData({ $strapi }) {
    let informationPage = await $strapi.$http.$get("/information-page");

    return {
      informationPage,
    };
  },
};
</script>

<style scoped lang="scss">
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";
</style>