<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <form @submit.stop.prevent="loginUser">
          <h1 class="h2 mt-2 mb-4">Inloggen</h1>

          <ValidationObserver ref="observer">
            <ValidationProvider
              name="email"
              rules="required|email"
              v-slot="{ errors }"
              tag="div"
            >
              <div class="form-group">
                <label for="email"
                  ><span class="text-danger">*&nbsp;</span>E-mailadres</label
                ><small class="ml-2 text-danger">{{ errors[0] }}</small>
                <input
                  class="form-control"
                  id="email"
                  v-model="email"
                  type="email"
                />
              </div>
            </ValidationProvider>

            <ValidationProvider
              name="password"
              rules="required"
              v-slot="{ errors }"
              tag="div"
            >
              <div class="form-group password-group">
                <label for="password"
                  ><span class="text-danger">*&nbsp;</span>Wachtwoord</label
                ><small class="ml-2 text-danger">{{ errors[0] }}</small>
                <input
                  class="form-control"
                  id="password"
                  v-model="password"
                  :type="passwordFieldType"
                />
                <span
                  class="password-group-button"
                  type="password"
                  @click="switchVisibility"
                >
                  <font-awesome-icon icon="eye" />
                </span>
              </div>
            </ValidationProvider>

            <recaptcha />

            <div v-show="errors.length > 0" class="mb-4 mt-3">
              <small
                class="ml-2 text-danger"
                v-for="(error, index) in errors"
                v-bind:key="index"
                >{{ error }}</small
              >
            </div>

            <div class="mt-3">
              <button
                class="btn btn-success"
                :disabled="email === '' || password === '' || loading"
                type="submit"
              >
                Inloggen
              </button>
            </div>
          </ValidationObserver>

          <div class="mt-5">
            <p>
              Nog geen account?
              <nuxt-link :to="{ name: 'registreren' }"> Registreren </nuxt-link>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { email, required } from "vee-validate/dist/rules";

extend("required", {
  ...required,
  message: "Dit is een verplicht veld",
});

extend("email", {
  ...email,
  message: "E-mailadres is niet correct",
});

export default {
  middleware: "isAuthenticated",
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      loading: false,
      email: "",
      password: "",
      passwordFieldType: "password",
      errors: [],
    };
  },
  methods: {
    switchVisibility() {
      this.passwordFieldType =
        this.passwordFieldType === "password" ? "text" : "password";
    },
    async loginUser(e) {
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          this.loading = true;
          const token = await this.$recaptcha.getResponse();

          const user = await this.$strapi.login({
            identifier: this.email,
            password: this.password,
            token: token,
          });
          await this.$recaptcha.reset();
          this.loading = false;
          if (user !== null) {
            this.errors = [];
            this.$nuxt.$router.push("/");
          }
        } catch (error) {
          this.errors = [];
          this.loading = false;
          await this.$recaptcha.reset();
          if (
            error &&
            error.response &&
            error.response.data &&
            error.response.data.message
          ) {
            Object.keys(error.response.data.message).forEach((val, i) => {
              if (error.response.data.message[i]) {
                var messages = error.response.data.message[i].messages;
                Object.keys(messages).forEach((val, j) => {
                  this.errors.push(messages[j].message);
                });
              }
            });
            await this.$recaptcha.reset();
          } else {
            this.loading = false;
            this.errors = ["Er ging iets mis, controleer de velden."];
          }
        }
      }
    },
  },
};
</script>


<style scoped lang="scss">
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

.password-group {
  position: relative;
  cursor: pointer;

  &-button {
    position: absolute;
    bottom: 7px;
    right: 8px;
  }
}
</style>
