<template>
  <div class="container mt-5">
    <div class="text-center p-5 bg-light">
      <h1>Algemeen klassement</h1>
    </div>
    <div class="card-deck mb-3 text-center mt-3">
      <div
        class="card mb-4 box-shadow"
        v-for="(gebruiker, index) in klassementTop"
        v-bind:key="index"
      >
        <div
          class="card-header"
          v-bind:style="{ 'background-color': gebruiker.bgcolor }"
        >
          <h4 class="my-0 font-weight-normal">#{{ index + 1 }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            {{ gebruiker.score }} <small class="text-muted">ptn.</small>
          </h1>
          <p class="m-0">Uitslagen Juist: {{ gebruiker.amountOfMatchesScoreCorrect }}</p>
          <p class="m-0">Voorspellingen Juist: {{ gebruiker.amountOfMatchesCorrect }}</p>
          <p class="font-weight-bold mt-3">
          {{ gebruiker.username }}
          </p>
          <small class="text-muted">{{ gebruiker.competition }}</small>
        </div>
      </div>
    </div>
    <table class="table table-responsive-sm table-sm table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Gebruiker</th>
          <th scope="col">Competitie</th>
          <th scope="col">Uitslagen Juist</th>
          <th scope="col">Voorspellingen Juist</th>
          <th scope="col">Punten</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(gebruiker, index) in klassement" v-bind:key="index">
          <th scope="row">{{ index + 4 }}</th>
          <td>{{ gebruiker.username }}</td>
          <td>{{ gebruiker.competition }}</td>
          <td>{{ gebruiker.amountOfMatchesScoreCorrect }}</td>
          <td>{{ gebruiker.amountOfMatchesCorrect }}</td>
          <td>{{ gebruiker.score }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  middleware: "authenticated",
  data() {
    return {
      klassementTop: [],
      klassement: [],
    };
  },
  async asyncData({ $strapi }) {
    let klassement = await $strapi.$http.$get("/pronos/klassementFull");

    let klassementTop = klassement.slice(0, 3);
    klassement = klassement.slice(3);

    klassementTop.forEach((klass, i) => {
      switch (i) {
        case 0:
          klass.bgcolor = "#C9B037";
          break;
        case 1:
          klass.bgcolor = "#D7D7D7";
          break;
        case 2:
          klass.bgcolor = "#AD8A56";
          break;
      }
    });

    return {
      klassement,
      klassementTop,
    };
  },
};
</script>

<style scoped lang="scss">
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

input.form-control {
  margin: 0;
  width: 2rem;
  text-align: center;
}
</style>