<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <form @submit.stop.prevent="createUser">
          <h1 class="h2 mt-2 mb-4">Registreren</h1>

          <ValidationObserver ref="observer">
            <ValidationProvider
              name="username"
              rules="required"
              v-slot="{ errors }"
            >
              <div class="form-group">
                <label for="username"
                  ><span class="text-danger">*&nbsp;</span>Gebruikersnaam</label
                ><small class="ml-2 text-danger">{{ errors[0] }}</small>
                <input
                  class="form-control"
                  id="username"
                  type="username"
                  v-model="username"
                />
              </div>
            </ValidationProvider>
          </ValidationObserver>

          <ValidationObserver ref="observer">
            <ValidationProvider
              name="email"
              rules="required|email"
              v-slot="{ errors }"
            >
              <div class="form-group">
                <label for="email"
                  ><span class="text-danger">*&nbsp;</span>E-mailadres</label
                ><small class="ml-2 text-danger">{{ errors[0] }}</small>
                <input
                  class="form-control"
                  id="email"
                  type="email"
                  v-model="email"
                />
              </div>
            </ValidationProvider>

            <ValidationObserver>
              <ValidationProvider
                rules="required|password:@confirm"
                v-slot="{ errors }"
              >
                <div class="form-group">
                  <label for="password"
                    ><span class="text-danger">*&nbsp;</span>Wachtwoord</label
                  ><small class="ml-2 text-danger">{{ errors[0] }}</small>
                  <input
                    class="form-control"
                    id="password"
                    v-model="password"
                    type="password"
                  />
                </div>
              </ValidationProvider>

              <ValidationProvider
                name="confirm"
                rules="required"
                v-slot="{ errors }"
              >
                <div class="form-group">
                  <label for="password_confirmation"
                    ><span class="text-danger">*&nbsp;</span>Herhaal
                    wachtwoord</label
                  ><small class="ml-2 text-danger">{{ errors[0] }}</small>
                  <input
                    class="form-control"
                    v-model="password_confirmation"
                    type="password"
                  />
                </div>
              </ValidationProvider>
            </ValidationObserver>
          </ValidationObserver>

          <recaptcha />

          <div v-show="errors.length > 0" class="mb-4 mt-3">
            <small
              class="ml-2 text-danger"
              v-for="(error, index) in errors"
              v-bind:key="index"
              >{{ error }}</small
            >
          </div>

          <div class="mt-3">
            <button class="btn btn-primary" :disabled="loading" type="submit">
              Registreren
            </button>
          </div>

          <div class="mt-5">
            <p>
              Heb je al een account?
              <nuxt-link :to="{ name: 'inloggen' }"> Inloggen </nuxt-link>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// Import mapMutations in order to call mutations from your store
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { TRANSLATIONS } from "~/plugins/translations";
import { email, required } from "vee-validate/dist/rules";

// Override the default message.
extend("required", {
  ...required,
  message: "Dit is een verplicht veld",
});

extend("email", {
  ...email,
  message: "E-mailadres is niet correct",
});

extend("password", {
  params: ["target"],
  validate(value, { target }) {
    return value === target;
  },
  message: "Wachtwoorden moeten aan elkaar gelijk zijn",
});

export default {
  middleware: "isAuthenticated",
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      loading: false,
      email: "",
      username: "",
      password: "",
      password_confirmation: "",
      errors: [],
    };
  },
  methods: {
    async createUser(e) {
      const isValid = await this.$refs.observer.validate();
      if (isValid) {
        try {
          this.loading = true;
          const token = await this.$recaptcha.getResponse();

          const newUser = await this.$strapi.register({
            email: this.email,
            username: this.username,
            password: this.password,
            token: token,
          });
          if (newUser !== null) {
            this.errors = [];
            this.$nuxt.$router.push("/");
          }
          await this.$recaptcha.reset();
          this.loading = false;
        } catch (error) {
          this.errors = [];
          this.loading = false;
          await this.$recaptcha.reset();
          if (
            error &&
            error.response &&
            error.response.data &&
            error.response.data.message
          ) {
            this.errors.push(error.response.data.message);
          } else {
            this.errors = ["Er ging iets mis, controleer de velden."];
          }
        }
      }
    },
  },
};
</script>