<template>
  <div class="container mt-5">
    <div class="text-center p-5 bg-light">
      <h1>Topschutters</h1>
    </div>

    <div class="p-3 bg-light mt-3">
      <h4 class="d-inline">Totaal aantal gescoorde doelpunten: {{ totalAmountGoals.Goals }}</h4>
    </div>

    <table class="table table-sm table-striped  mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Topschutter</th>
          <th scope="col">Land/Team</th>
          <th scope="col">Goals</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(schutter, index) in topSchutters" v-bind:key="index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ schutter.Name }}</td>
          <td>
            <div class="d-flex align-items-center">
              <country-flag :country="schutter.team.ShortName" />
              <span class="ml-2">{{ schutter.team.Name }}</span>
            </div>
          </td>
          <td>{{ schutter.Goals }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  middleware: "authenticated",
  data() {
    return {
      topSchutters: [],
      totalAmountGoals: 0
    };
  },
  async asyncData({ $strapi }) {
    let topSchutters = await $strapi.find("top-scorers", {
      _sort: "Goals:DESC",
      Goals_gt: 0,
    });


    let [totalAmountGoals] = await $strapi.find("bonus-question-goals");

    return {
      topSchutters,
      totalAmountGoals
    };
  },
};
</script>

<style scoped lang="scss">
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

input.form-control {
  margin: 0;
  width: 2rem;
  text-align: center;
}
</style>